body {
  -webkit-overflow-scrolling: touch;
}

.grid-card {
  box-shadow: -10px 10px 10px 0px rgba(0, 0, 0, 0.5) !important;
  transition: 0.5s transform ease-in-out;
  display: flex;
  justify-content: center;
  flex: 0 0 30%;
  height: 30% !important;
  min-width: 0;
  min-height: 0;
  align-items: center;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  height: 650px;
  width: 650px;
  max-width: 80vh;
  max-height: 80vh;
  justify-content: center;
}

@media (max-width: 768px) {
  .cards {
    width: 90vw;
    height: 90vw;
  }

  .grid-card {
    max-width: 25vw;
    max-height: 25vw;
  }
}

canvas {
  filter: brightness(1);
}

#animationVideo {
  z-index: 1;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.grid-card:hover {
  transform: perspective(500px) translateZ(30px);
}

.tw-w-6 {
  width: 7rem;
}
.tw-text-brand {
  --tw-text-opacity: 1;
  color: rgb(42 169 103);
}
.logo-icons {
  display: flex;
}
.logo-icons img {
  max-width: 200px;
  max-height: 140px;
}

.logo-icon {
  margin-top: 30px;
  margin-left: 20px;
  background: #ffffff;
  padding: 8px;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 10px 10px #ffffff;
}
